code {
 max-width: 90%;
}

.content {
 width: 80%;
 margin: 0 auto;
 padding-top: 50px;
}

.contentPreview {
 width: 85%;
 margin: 0 auto;
}

.contentPreview h1 {
 width: 100%;
 margin: 20px 0;
 font-size: 22px;
}

.contentPreview p {
 width: 100%;
 margin: 10px 0 50px 0;
}

/* list component style */

.list {
 width: 100%;
 color: grey;
 margin: 50px 0;
 font-size: 14px;
}

.list ul {
 width: 100%;
 margin: 0;
 padding: 0;
}

.list li {
 background: var(--white);
 padding: 10px 5px;
 margin: 10px 0;
 border-radius: 5px;
 list-style: none;
 border-bottom: 1px solid;
 border-color: var(--grey);
 font-size: 14px;
 display: flex;
 gap: 0 5px;
 transition: 0.9s ease;
}

.list li:hover {
 background: var(--yellow);
}

.list li span {
 color: var(--grey-light);
 font-size: 18px;
}

.list li:hover span {
 color: var(--grey-deep);
}

.contentDocumentation {
 width: 90%;
 margin: 0 auto;
 background: var(--white);
 padding: 5%;
}

.contentDocumentation h2 {
 font-size: 32px;
}

.contentDocumentation h3 {
 font-size: 18px;
 font-weight: 400;
 background: var(--grey-deep);
 color: var(--white);
 padding: 5px;
}

.contentDocumentation h3 strong {
 color: var(--yellow);
 font-size: 20px;
 padding: 0 5px;
}

.contentDocumentation hr {
 margin: 30px 0;
 border-style: solid;
 border-color: var(--off-white);
}

.contentTable {
 margin: 20px 0;
 line-height: 30px;
 table-layout: fixed;
 width: 100%;
 overflow-x: auto;
}
.contentTable th {
 font-size: 14px;
 background: var(--grey);
 color: var(--white);
 word-break: break-all;
}

.contentTable tr {
 border: 1px solid;
 border-color: var(--light-grey);
}
.contentTable td {
 padding: 10px;
 background: var(--grey-light);
}

.contentDocumentationHighlight {
 background: var(--off-white) !important;
}

.git {
 background: var(--grey-deep);
 padding: 10px 20px;
 position: fixed;
 bottom: 20px;
 right: 20px;
 width: 30px;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 transition: 0.4s ease;
}

.git a {
 font-weight: 600;
 font-size: 12px;
 color: var(--white);
 text-decoration: none;
}

.git svg {
 width: 30px;
 fill: var(--white);
}

.git:hover {
 background: var(--white);
}

.git a:hover {
 color: var(--grey-deep);
}

.git:hover svg {
 fill: var(--grey-deep);
}

@media (max-width: 900px) {
 .content p {
  margin: 30px 0;
 }
 .content {
  width: 100%;
 }

 .contentDocumentation {
  width: 95%;
 }

 .contentDocumentation h3 {
  font-size: 16px;
  padding: 10px;
 }

 .contentDocumentation h3 strong {
  font-size: 14px;
 }

 .contentTable {
  font-size: 12px;
 }

 .gridSelects div {
  width: 90%;
 }

 .git {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0 5px;
 }

 .git svg {
  width: 20px;
 }
}
